{{ 'section-blog-layout.css' | asset_url | stylesheet_tag }}

<header class="article-header">
  <div class="page-width">
    <h1>{{ article.title }}</h1>

    <div class="article-header__meta">
      {%- if section.settings.author_image != blank -%}
        <img
          src="{{ section.settings.author_image | image_url: width: 50, height: 50, crop: 'center' }}"
          alt="{{ section.settings.author_image.alt | escape }}"
          loading="lazy"
          width="25"
          height="25"
          class="article-header__author-image"
        >
      {%- endif -%}
      <div class="article-header__meta-text">
        {% if section.settings.show_author %}
          <span>{{ article.author }}</span>
          {% if section.settings.show_date -%}
            <span class="separator"> &nbsp;|&nbsp;</span>
          {%- endif %}
        {% endif %}
        {% if section.settings.show_date %}
          <span>{{ article.published_at | date: '%B %d, %Y' }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "B2B Article Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show publication date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "author_image",
      "label": "Author image"
    }
  ],
  "presets": [
    {
      "name": "B2B Article Header"
    }
  ]
}
{% endschema %}
